<nav>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/planets-count">Total Planets Count</a></li>
      <li><a routerLink="/stars-count">Total Stars Count</a></li>
      <li><a routerLink="/heaviest-planet">Heaviest Planet in the system</a></li>
      <li><a routerLink="/discoverers">List of Discoverers</a></li>
      <li><a routerLink="/hire-discoverer">Hire Discoverer</a></li>
      <li><a routerLink="/stars-random">Add Random amount of stars to the system</a></li>

    </ul>
  </nav>
  <router-outlet></router-outlet>