<nav class="navigation-menu">
  <ul>
    <li style="font-weight: bold; font-family: 'Courier New', Courier, monospace; font-size: xx-large;"><a routerLink="/dashboard">Dashboard</a></li>
  <table>
    <tr>
      <td style=" font-family: 'Times New Roman', Times, serif; background-color: cadetblue; text-align: center;">
        Gwiazdy
      </td>
      <td>
        <li><a routerLink="/stars-count">SHOW Total Stars Count</a></li>
      </td>
      <td>
        <li><a routerLink="/stars-random">ACTION Add Random Stars to the System</a></li>
      </td>
    </tr>
    <tr>
      <td style=" font-family: 'Times New Roman', Times, serif; background-color: cadetblue; text-align: center;">
        Planety
      </td>
      <td>
        <li><a routerLink="/planets-count">SHOW Total Planets Count</a></li>
      </td>
      <td>
        <li><a routerLink="/heaviest-planet">ACTION Heaviest Planet in the System</a></li>
      </td>
    </tr>
    <tr>
      <td style=" font-family: 'Times New Roman', Times, serif; background-color: cadetblue; text-align: center;">
        Odkrywcy
      </td>
      <td>
        <li><a routerLink="/discoverers">SHOW List of Discoverers</a></li>
      </td>
      <td>
        <li><a routerLink="/hire-discoverer">ACTION Hire Discoverer |</a></li>
        <li><a routerLink="/fire-discoverer">| ACTION Fire Discoverer</a></li>
      </td>
    </tr>
    <tr>
      <td style=" font-family: 'Times New Roman', Times, serif; background-color: cadetblue; text-align: center;">
        Statki
      </td>
      <td>
        <li><a routerLink="/ship-all">SHOW List of Starships</a></li>
      </td>
      <td>
        <li><a routerLink="/ship-new">ACTION Add New Ship to the Starfleet</a></li>
      </td>
    </tr>
    <tr>
      <td style=" font-family: 'Times New Roman', Times, serif; background-color: cadetblue; text-align: center;">
        Galaktyki
      </td>
      <td>
        <li><a routerLink="/galaxy-all">SHOW All Galaxies in the System</a></li>
      </td>
    </tr>
    <tr>
      <td style=" font-family: 'Times New Roman', Times, serif; background-color: cadetblue; text-align: center;">
        Układy gwiezdne
      </td>
      <td>
        <li><a routerLink="/starsystem-all">SHOW All Starsystems in the System</a></li>
      </td>
    </tr>
  </table>

  </ul>
</nav>

<router-outlet></router-outlet>
