@page
@using API.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Witaj w bazie danych intergalaktycznych odkrywców, statków i statystyk planetarnych!</h2>
    <p class="intro-text">
        Ta niesamowita kolekcja informacji przeniesie Cię w odległe i fascynujące rejony kosmosu.
        Nasza baza danych jest poświęcona odkrywcom z różnych galaktyk, którzy z niewyczerpaną pasją i odwagą badają nieznane obszary wszechświata.
    </p>
    <p class="intro-text">
        Przez lata ci nieustraszeni badacze i poszukiwacze przygód odważnie przemierzali odległe systemy gwiazd, prowadząc badania, odkrywając nieznane cywilizacje i odnajdując tajemnicze planety.
        W tej bazie danych znajdziesz pełny spis tych odważnych indywidualistów oraz informacje o ich osiągnięciach, które zrewolucjonizowały nasze postrzeganie kosmosu.
    </p>
    <p class="intro-text">
        Dodatkowo, nasza baza danych zawiera również informacje o różnych typach statków kosmicznych, które były używane przez odkrywców w ich podróżach.
        Znajdziesz tu opisy technologii, które umożliwiły podróże międzygwiezdne, takie jak hiperprzestrzeń, nadprzestrzeń czy silniki jądrowo-antymateriowe.
        Poznasz różne modele statków, począwszy od małych pojazdów jednoosobowych po gigantyczne eksploratoryjne statki kosmiczne zdolne do przemierzania galaktyk.
    </p>
    <p class="intro-text">
        Ponadto, nasza baza danych zawiera szczegółowe statystyki planet, które zostały odkryte w trakcie tych epickich podróży.
        Dowiesz się o różnorodności ekosystemów, struktur geologicznych, atmosfer i życia na tych odległych globach.
        Od zimnych, lodowych światów po gorące, lawowe inferna, nasza baza danych dostarczy Ci wgląd w niezliczoną różnorodność planetarną, która istnieje w galaktykach.
    </p>
    <p class="intro-text">
        Dzięki tym informacjom, przeniesiesz się w wizję przyszłości, w której intergalaktyczne podróże są powszechne, a odkrywanie nowych światów to codzienność.
        Odkrywcy, którzy wyruszają na te niebezpieczne ekspedycje, napędzani są nie tylko ciekawością, ale również pragnieniem poszerzania granic naszej wiedzy o wszechświecie.
    </p>
    <p class="intro-text">
        Przygotuj się na fascynującą podróż przez naszą bazę danych, która odkryje przed Tobą niezwykłe historie, technologie i nieznane światy.
        Witamy w erze sci-fi, gdzie granice przestrzeni i czasu nie istnieją, a tylko wyobraźnia jest naszym ograniczeniem!
    </p>
</div>
