<table class="planet-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Mass</th>
        <th>Star System</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ heaviestPlanet?.type }}</td>
        <td>{{ heaviestPlanet?.mass }}</td>
        
        <td *ngIf="heaviestPlanet?.starSystemId != null">{{ currentStarSystem?.name }}</td>
        <td *ngIf="heaviestPlanet?.starSystemId == null"> Nie przypisano </td>
        <td>{{ heaviestPlanet?.name }}</td>
      </tr>
    </tbody>
  </table>
  