<div *ngIf="ships">
  <table class="ships-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Max Capable Speed</th>
        <th>Single Charge Range</th>
        <th>Owner</th>
        <th>Require Repairs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ship of ships">
        <td>{{ ship.name }}</td>
        <td>{{ ship.shipModel }}</td>
        <td>{{ ship.maxSpeed }}</td>
        <td>{{ ship.singleChargeRange }}</td>
        <td>{{ ship.discoverer }}</td>
        <td>{{ ship.ifBroken }}</td>
      </tr>
    </tbody>
  </table>
</div>
