<form (submit)="makeNewShip()">
    <label>
      Max Range:
      <input type="number" [(ngModel)]="maxRange" name="maxRange" required>
    </label>
    <br>
    <label>
      Max Speed:
      <input type="number" [(ngModel)]="maxSpeed" name="maxSpeed" required>
    </label>
    <br>
    <label>
      Model:
      <input type="text" [(ngModel)]="model" name="model">
    </label>
    <br>
    <label>
      Discoverer:
      <select [(ngModel)]="selectedDiscoverer" name="discoverer">
        <option *ngFor="let discoverer of discoverers" [value]="discoverer.id">{{ discoverer.name }} {{ discoverer.surname }} {{ 'age: '+discoverer.age }}, {{'current ship: '+discoverer.ship}}</option>
      </select>
    </label>
    <br>
    <button type="submit">Assign New Ship</button>
  </form>
  
  <div *ngIf="successMessage">Successfully created a new ship!</div>
  