@using Universe.Models.discoverer;
@model IQueryable<Discoverer>

<div class="discoverers-container">
    <h1>Wszyscy zarejestrowani odkrywcy</h1>
    <table class="discoverers-table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var discoverer in Model)
            {
                <tr>
                    <td>@discoverer.Name</td>
                    <td>@discoverer.Surname</td>
                </tr>
            }
        </tbody>
    </table>
</div>