@{
    ViewData["Title"] = "Strona Domowa";
}

<div class="text-center">
    <h1 class="display-4">Biuro zarządzania odkrywcami</h1>
    <p>Aby przejść dalej, wybierz jedną z dostępnych zakładek na panelu</p>
</div>
